
body{
    text-align: center;
background-image: url(https://e0.pxfuel.com/wallpapers/467/550/desktop-wallpaper-set-of-martini-stripe.jpg);
background-size: contain;
background-size:cover ;

}

h1{
    
    font-family: 'Oswald', sans-serif;;
    color: aliceblue;
    
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: aliceblue;
}

p{
    font-family: 'Oswald', sans-serif;
    font-weight: 403;
    color: rgb(0, 0, 0);
}

ol{
    font-family: 'Oswald', sans-serif;
}
